<!DOCTYPE html>
<html>
	<head>
		<title>Rest API</title>
	</head>
	<body>
		<h1>Welcome to Users Rest API project</h1>
		<p>
			<a href="{% url 'list-create' %}">Click Here</a> to explore the api
		</p>

		<h3>Some notes</h3>
		<ul>
			<li>
				<p>I am using Django and Django rest Framework to build this API</p>
			</li>
			<li>
				<p>I'm using sqlite3 database</p>
			</li>
			<li>
				<p>For running the API, Django rest framework has it's own browsable api console </p>
				<p>If you want to run it on terminal then use curl Something like: <i>curl -H "Content-type:application/json" http://127.0.0.1:8000/api/users/ | json_pp</i> </p>
			</li>
		</ul>
	</body>
</html>